.wrapper
{
    width:100vw;
    min-height: 100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container
{
    width:250px;
    min-height:250px;

    background-color: rgb(1, 100, 143);
    border-radius: 20px;
    gap:10px;
    

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyup_handler
{
    width:80%;
    min-height: 60%;

    background-color: rgb(195, 222, 78);
    border-radius: 20px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}