

.wrapper
{
    width:100vw;
    min-height:100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container
{
    width:250px;
    min-height:250px;

    background-color: rgb(96, 112, 3);
    border-radius: 20px;
    gap:10px;
    

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keydown_handler
{
    width:80%;
    min-height: 40%;

    background-color: rgb(248, 110, 25);
    border-radius: 20px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}