body
{
   height:100vh;
   background-color: rgb(25, 246, 242);
   font-size: vedarna;
   display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-page-container
{
    background-color: #ffffffee;
    width:65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container
{
   background-color: rgb(181, 185, 167);
   width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;

}
.login-form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1
{
  color:rgb(22,24,22)
}

.user-name_input_group.user_name_lable
{
    color:azure;
    font-size: 1.8rem;
}
.password_input_group.password_lable
{
    color: aliceblue;
    font-size: 2rem;
}
.login_submit_button:hover
{
    background-color: rgb(7, 178, 121);
}

