.main-div-wrapper{
    background-color:blueviolet;
    height:100vh;
    width:100vw;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#child-div-1
{
    background-color: bisque;
    height:100px;
    width:100px;
}

#child-div-2
{
    background-color: aqua;
    height:100px;
    width:100px;
}