.main-div-wrapper{
    background-color:rgb(235, 63, 63);
    width:100vw;
    height:100vh;

    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:flex-start;
}

#child-div-1{
  background-color:azure;
  width:100px;
  height:100px;
}

#child-div-2{
    background-color: aquamarine;
    width:100px;
    height:100px;

}