.wrapper
{
    width:100vw;
    min-height: 100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(210, 220, 95);
}


.container
{
    width:300px;
    min-height:200px;

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(34, 163, 140);
}

.output_element
{
    width:300px;
    min-height:200px;

    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    background-color:rgb(212, 114, 237);
}